.banner-aigen {
  max-width: 1096px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.banner-aigen .banner-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.banner-aigen .banner-list img {
  border-radius: 20px;
  background: lightgray 50%/cover no-repeat;
  width: 100%;
  height: 300px;
}
.banner-aigen .banner-list .banner-right {
  width: 35%;
}
.banner-aigen .banner-list .banner-left {
  width: 65%;
}
@media (max-width: 768px) {
  .banner-aigen .banner-list {
    display: block;
  }
  .banner-aigen .banner-list .banner-left {
    width: 100%;
  }
  .banner-aigen .banner-list .banner-right {
    display: none;
  }
}

.problem-aigen {
  max-width: 1104px;
  margin: 0 auto;
  padding-bottom: 90px;
  z-index: 10;
  position: relative;
}
.problem-aigen .main-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1px;
}
.problem-aigen .main-content .content-right .action {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.problem-aigen .main-content .content-right .action .icon {
  display: inline-flex;
  padding: 5px;
  align-items: flex-start;
  border-radius: 50px;
  background: #312B60;
}
.problem-aigen .main-content .content-right .action .icon img {
  width: 38px;
  height: 38px;
}
.problem-aigen .main-content .content-right .action .redirect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.problem-aigen .main-content .content-right .action .redirect-btn button {
  padding: 10px 20px;
}
.problem-aigen .main-content .content-right .content {
  color: var(--color-six);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.problem-aigen .main-content .content-right .list-suggest .list-item .item {
  padding: 15px 25px 16px 15px;
  border-radius: 20px;
  border: 1px solid var(--bg-white);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: start;
  gap: 15px;
  margin-bottom: 15px;
}
.problem-aigen .main-content .content-right .list-suggest .list-item .item .text h5 {
  color: var(--title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.problem-aigen .main-content .content-right .list-suggest .list-item .item .text p {
  color: #A1A1A1;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.problem-aigen .main-content .content-left {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .problem-aigen .main-content {
    display: block;
  }
  .problem-aigen .main-content .content-left {
    text-align: center;
  }
}

.ecommerce.aigen {
  border-radius: 30px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 33px 100px 0;
  max-width: 997px;
  margin-bottom: 90px;
}
.ecommerce.aigen .content-top h2 {
  color: var(--title-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 15px;
  width: 100%;
  max-width: unset;
}
.ecommerce.aigen .content-top .desc {
  color: var(--title-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}
.ecommerce.aigen .content-bottom .card-content {
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}
.ecommerce.aigen .content-bottom .card-content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #A1A1A1;
}
.ecommerce.aigen .content-bottom .card-content .head .title {
  color: #1E1E1E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.ecommerce.aigen .content-bottom .card-content .head .list-icon {
  display: flex;
  align-items: center;
}
.ecommerce.aigen .content-bottom .card-content .head .list-icon img {
  border-radius: 50px;
  border: 2px solid #FFF;
  background: lightgray 50%/cover no-repeat;
  margin-left: -12px;
  width: 30px;
  height: 30px;
}
.ecommerce.aigen .content-bottom .card-content .head .list-icon .icon-plus {
  margin-left: -12px;
}
.ecommerce.aigen .content-bottom .card-content .list-train {
  padding: 17px 18px 18px 15px;
}
.ecommerce.aigen .content-bottom .card-content .list-train .item-train {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: #EAEFFF;
  margin-bottom: 10px;
}
.ecommerce.aigen .content-bottom .card-content .list-train .item-train img {
  width: 40px;
  height: 40px;
}
.ecommerce.aigen .content-bottom .card-content .list-train .item-train:last-child {
  margin-bottom: 0;
}
.ecommerce.aigen .content-bottom .card-content .list-train .item-train .desc {
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.aigen-phone {
  max-height: unset !important;
}
.aigen-phone .aigen-main-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 120px;
  max-width: 993px;
  margin: 0 auto;
}
.aigen-phone .aigen-main-content .content-top {
  width: calc(60% - 60px);
}
.aigen-phone .aigen-main-content .content-top .text-left button {
  padding: 10px 20px;
  margin-bottom: 15px;
}
.aigen-phone .aigen-main-content .content-top .text-left h2 {
  color: var(--title-color);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  width: fit-content;
  max-width: 478px;
}
.aigen-phone .aigen-main-content .content-top .text-left .desc {
  width: 100%;
  flex-shrink: 0;
  color: var(--title-color);
  margin-bottom: 30px;
}
.aigen-phone .aigen-main-content .content-top .text-left .desc p {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.aigen-phone .aigen-main-content .content-top .list-suggest .item {
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 13px 15px 13px 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.aigen-phone .aigen-main-content .content-top .list-suggest .item .text {
  color: var(--title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aigen-phone .aigen-main-content .review {
  width: calc(40% - 60px);
}
.aigen-phone .aigen-main-content .review .content-bottom img {
  width: 100%;
}
@media (max-width: 768px) {
  .aigen-phone .aigen-main-content {
    display: block;
  }
  .aigen-phone .aigen-main-content .content-top {
    width: 100%;
    margin-bottom: 30px;
  }
  .aigen-phone .aigen-main-content .review {
    width: 100%;
  }
  .aigen-phone .aigen-main-content .content-bottom img {
    text-align: center;
    margin: 0 auto;
    height: 700px;
    object-fit: contain;
  }
}

.aigen-x.maxcom-tech #contact-us {
  padding-bottom: 0;
}

.aigen-x .title-head-custom {
  padding: 10px 20px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=aigen.css.map */
