.cooperate {
  position: relative;
  z-index: 10;
  padding-top: 0;
}
.cooperate .main-page--head {
  position: relative;
  z-index: 10;
  min-height: 200px;
  text-align: center;
}
.cooperate .main-page--head .title {
  margin-bottom: 15px;
}
.cooperate .main-page--head .title--top img {
  height: 45px;
  margin-right: 10px;
}
.cooperate .main-page--head .title--top .button {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 10px 20px !important;
}
.cooperate .main-page--head h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-six);
}
.cooperate .main-page--content {
  box-shadow: 5px 2px 22.1px 0px rgba(0, 68, 255, 0.2);
  text-align: center;
  margin-bottom: 100px;
  border-radius: 20px;
  border: 1px solid #FFF;
  background: var(--bg-contact);
  backdrop-filter: blur(15px);
  min-height: 300px;
  padding: 32px 0 0;
  width: 80%;
}
.cooperate .main-page--content .container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 85%;
}
.cooperate .main-page--content .container p {
  color: var(--text-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cooperate .main-page--content .container-image--title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-six);
}
.cooperate .main-page--content .container-image .cooperate-hand {
  max-width: 100%;
  width: 100%;
}
.cooperate .main-page--content .parner {
  padding-bottom: 0;
}
.cooperate .main-page .mapbox-block {
  position: relative;
  border-radius: 20px;
  padding: 20px;
}
.cooperate .main-page .mapbox-block .mapBox {
  border-radius: 20px;
  height: 760px;
}
.cooperate .main-page .mapbox-block #contact-us {
  position: absolute;
  top: 7%;
  right: 4%;
  max-width: 400px;
}
@media screen and (max-width: 1050px) {
  .cooperate .main-page .mapbox-block #contact-us {
    position: unset;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.cooperate .main-page .mapbox-block #contact-us .contact-us {
  border-radius: 30px;
  border: 1px solid #FFF;
  background: rgba(218, 218, 218, 0.05);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--des {
  width: 100%;
  text-align: left;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--des--title {
  font-size: 30px;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--des--description {
  font-size: 14px;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--input form {
  padding-top: 30px;
  font-size: 12px;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--input form input {
  padding: 19px 30px;
}
.cooperate .main-page .mapbox-block #contact-us .contact-us .block-contact--input .view-more {
  margin-top: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}
