.chatbot-ai .chatbot-ai-content .main-content .content-left .action {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .action .icon {
  display: inline-flex;
  padding: 5px;
  align-items: flex-start;
  border-radius: 50px;
  background: #312B60;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .action .icon img {
  width: 38px;
  height: 38px;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .action .redirect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .action .redirect-btn button {
  padding: 10px 20px;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .content {
  color: var(--color-six);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.chatbot-ai .chatbot-ai-content .main-content .content-left .desc {
  color: var(--color-six);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 768px) {
  .chatbot-ai .chatbot-ai-content .main-content .content-left .desc {
    margin-bottom: 15px;
  }
}
.chatbot-ai .chatbot-ai-content .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.chatbot-ai .chatbot-ai-content .owl-nav .custom-nav-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 22px;
}
.chatbot-ai .chatbot-ai-content .owl-nav .custom-prev-btn {
  left: -30px;
  position: absolute;
}
@media (max-width: 768px) {
  .chatbot-ai .chatbot-ai-content .owl-nav .custom-prev-btn {
    left: 0;
  }
}
.chatbot-ai .chatbot-ai-content .owl-nav .custom-next-btn {
  right: -30px;
  position: absolute;
}
@media (max-width: 768px) {
  .chatbot-ai .chatbot-ai-content .owl-nav .custom-next-btn {
    right: 0;
  }
}
.chatbot-ai .chatbot-ai-content .owl-nav button {
  border: none;
  outline: none;
}
.chatbot-ai .chatbot-ai-content .owl-nav .owl-prev.disabled,
.chatbot-ai .chatbot-ai-content .owl-nav .owl-prev.disabled .custom-nav-btn {
  background-color: rgba(245, 245, 245, 0.6);
}
.chatbot-ai .chatbot-ai-content .owl-nav .owl-next.disabled,
.chatbot-ai .chatbot-ai-content .owl-nav .owl-next.disabled .custom-nav-btn {
  background-color: rgba(245, 245, 245, 0.6);
}
.chatbot-ai .chatbot-ai-content .owl-nav .owl-prev:not(.disabled) .custom-nav-btn {
  background-color: #0044FF;
}
.chatbot-ai .chatbot-ai-content .owl-nav .owl-next:not(.disabled) .custom-nav-btn {
  background-color: #0044FF;
}
@media (max-width: 768px) {
  .chatbot-ai .chatbot-ai-content {
    padding: 0 12px;
  }
  .chatbot-ai .chatbot-ai-content .slide-image {
    border-radius: 20px;
    overflow: hidden;
  }
}

.home-page .about-us.maxcom-edu .container {
  max-width: 996px;
  gap: 50px;
}
.home-page .about-us.maxcom-edu .container .container--right {
  width: 45%;
  margin-top: 62px;
}
.home-page .about-us.maxcom-edu .container .container--right .img-big {
  position: relative;
}
.home-page .about-us.maxcom-edu .container .container--right .img-small {
  position: absolute;
  bottom: 45px;
  right: 290px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .home-page .about-us.maxcom-edu .container .container--right {
    width: 100%;
  }
  .home-page .about-us.maxcom-edu .container .container--right .img-big {
    text-align: right;
  }
  .home-page .about-us.maxcom-edu .container .container--right .img-small {
    bottom: 40px;
    right: 50px;
  }
  .home-page .about-us.maxcom-edu .container .container--right .img-small img:first-child {
    width: 45%;
  }
  .home-page .about-us.maxcom-edu .container .container--right .img-small img {
    width: 55%;
  }
}
.home-page .about-us.maxcom-edu .container .container--left--sub p {
  width: 490px;
}
.home-page .about-us.maxcom-edu .container .container--left--head .button-rounded {
  background: var(--second-color);
  border: 2px solid var(--title-border-1);
}
@media (max-width: 768px) {
  .home-page .about-us.maxcom-edu .container {
    flex-wrap: wrap;
  }
  .home-page .about-us.maxcom-edu .container .container--left--sub p {
    width: 100%;
  }
  .home-page .about-us.maxcom-edu .container .container--left .view-more {
    text-align: center;
  }
  .home-page .about-us.maxcom-edu .container .container--left .view-more button {
    margin: 0 auto;
  }
}
.home-page .mission {
  max-width: 996px;
  padding-bottom: 90px;
}
.home-page .mission .mission-content .content-main {
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.home-page .mission .mission-content .content-main .button-rounded {
  padding: 10px 20px;
}
.home-page .mission .mission-content .content-main .content-top {
  border-radius: 30px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 23px;
  position: absolute;
  width: 100%;
}
.home-page .mission .mission-content .content-main .content-top .container--left--head {
  margin-bottom: 15px;
}
.home-page .mission .mission-content .content-main .content-top .title {
  color: var(--color-six);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-page .mission .mission-content .content-main .content-top .container--left--sub {
  color: var(--color-six);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 458px;
  height: 110px;
  flex-shrink: 0;
}
.home-page .mission .mission-content .content-main .content-bottom {
  position: relative;
  z-index: 999;
  right: 34px;
  text-align: right;
}
@media (max-width: 768px) {
  .home-page .mission .mission-content {
    padding: 0 12px;
  }
  .home-page .mission .mission-content .content-main {
    display: block;
    height: unset;
  }
  .home-page .mission .mission-content .content-main .content-bottom {
    right: unset;
    width: 100%;
    z-index: unset;
    height: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .home-page .mission .mission-content .content-main .content-top {
    position: unset;
    display: block;
  }
  .home-page .mission .mission-content .content-main .content-top .container--left--sub {
    width: 100%;
    height: unset;
  }
}

/*# sourceMappingURL=maxcom-edu.css.map */
