/*--------------------------- Color variations ----------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500");
[data-theme=light] {
  --bg-white: #fff;
  --second-color: #0044FF;
  --second-color-2: #01F5B3;
  --color-six: #1E1E1E;
  --title-color: #1E1E1E;
  --logo-color: #0A008C;
  --title-color-2: #1E1E1E;
  --bg-footer: rgba(71, 71, 71, 0.10);
  --bg-contact: rgba(245, 245, 245, 0.30);
  --bg-blue-dark: rgba(0, 68, 255, 0.20);
  --text-gray: #A1A1A1;
  --bg-btn-1: #0044FF;
  --text-color-3: #F5F5F5;
  --input-color: #F5F5F5;
  --footer-des: #1E1E1E;
  --border-color-1: #F5F5F5;
  --border-color-2: #01F5B3;
  --tab-active-1: #01F5B3;
  --title-border-1: #0044FF;
  --btn-color-2: #01F5B3;
  --btn-bar: #000;
  --text-menu: #F5F5F5;
  --star-list: #000;
  --liner-hidden: linear-gradient(180deg, rgba(255, 255, 255, 0) -16.22%, #F5F5F5 78.57%);
  --btn-nav: #999999;
  --btn-get-start: #0044FF;
  --text-get-start: #F5F5F5;
  --border-color: rgba(0, 68, 255, 0.2);
  --btn-view-hover: #01F5B3;
  --btn-view-hover-2: #0044FF;
}

[data-theme=dark] {
  --bg-white: #191345;
  --second-color: transparent;
  --second-color-2: #01F5B3;
  --color-six: #F5F5F5;
  --title-color: #F5f5f5;
  --logo-color: #0A008C;
  --title-color-2: #F5F5F5;
  --bg-footer: rgba(71, 71, 71, 0.10);
  --bg-contact: rgba(255, 255, 255, 0.10);
  --bg-blue-dark: rgba(0, 68, 255, 0.20);
  --text-gray: #F5f5f5;
  --bg-btn-1: #01F5B3;
  --text-color-3: #1E1E1E;
  --input-color: #F5F5F5;
  --footer-des: #8a8a8a;
  --border-color-1: #4747471A;
  --border-color-2: #F5F5F5;
  --tab-active-1: #F5F5F5;
  --title-border-1: #01F5B3;
  --btn-color-2: #0044FF;
  --btn-bar: #FFF;
  --text-menu: #F5F5F5;
  --star-list: #F5f5f5;
  --liner-hidden: linear-gradient(180deg, rgba(47, 41, 94, 0) -16.22%, #2F2957 78.57%);
  --btn-nav: transparent;
  --btn-get-start: #f5f5f5;
  --text-get-start: #000;
  --border-color: #fff;
  --btn-view-hover: #01F5B3;
  --btn-view-hover-2: #01F5B3;
}

/*--------------------------- Fonts ----------------------*/
.new-detail {
  position: relative;
  z-index: 10;
  padding-top: 0;
  margin-bottom: 30px;
}
.new-detail .new-header {
  position: relative;
  z-index: 10;
  min-height: 200px;
  text-align: center;
}
.new-detail .new-header .title {
  margin-bottom: 15px;
}
.new-detail .new-header .title--top img {
  height: 45px;
  margin-right: 10px;
}
.new-detail .new-header .title--top .button {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 10px 20px !important;
}
.new-detail .new-header h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-six);
}
.new-detail .new-list {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}
.new-detail .new-list .tab {
  display: flex;
  gap: 30px;
  overflow: hidden;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1250px) {
  .new-detail .new-list .tab {
    padding: 0 20px;
    gap: 10px;
  }
}
.new-detail .new-list .tab button {
  background-color: transparent;
  border-radius: 50px;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 15px 20px;
  transition: background-color 0.3s;
  color: var(--color-six);
  border: 2px solid var(--tab-active-1);
}
.new-detail .new-list .tab button.active {
  background-color: var(--tab-active-1);
  color: var(--text-color-3);
}
.new-detail .new-list .content-container {
  padding: 10px;
  border-top: none;
}
.new-detail .new-list .content {
  display: none;
}
@media screen and (max-width: 1250px) {
  .new-detail .new-list .content .new-list {
    padding: 0 20px;
  }
}
.new-detail .new-list .content .new-list .main-new {
  padding: 0;
  border-radius: 24px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
}
.new-detail .new-list .content .new-list .main-new .block {
  width: 100%;
}
.new-detail .new-list .content .new-list .main-new .block img {
  width: 100%;
}
.new-detail .new-list .content .new-list .main-new .block .block-des {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.new-detail .new-list .content .new-list .main-new .block .block-des .title-light {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-detail .new-list .content .new-list .main-new .block .block-des .des-light {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  word-break: break-word;
}
.new-detail .new-list .content .new-list .main-new .block .block-des .button-rounded {
  width: fit-content;
  background-color: #01F5B3;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.new-detail .new-list .content .new-list .sub-new {
  display: flex;
  flex-direction: column;
}
.new-detail .new-list .content .new-list .sub-new .block-1 {
  padding-top: 0 !important;
}
@media screen and (max-width: 768px) {
  .new-detail .new-list .content .new-list .sub-new .block-1 {
    padding-top: 20px !important;
  }
}
.new-detail .new-list .content .new-list .sub-new .block {
  display: flex;
  flex-direction: row;
  gap: 13px;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--footer-des);
}
.new-detail .new-list .content .new-list .sub-new .block img {
  width: 30%;
  height: 100%;
}
.new-detail .new-list .content .new-list .sub-new .block .block-des {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.new-detail .new-list .content .new-list .sub-new .block .block-des .title-light {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-detail .new-list .content .new-list .sub-new .block .block-des .button-rounded {
  width: fit-content;
  background-color: #01F5B3;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.new-detail .new-list .content.active {
  display: block;
}
.new-detail .new-relate {
  margin-bottom: 100px;
}
.new-detail .new-relate h2 {
  color: var(--color-six);
}
.new-detail .new-relate .content .new-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .new-detail .new-relate .content .new-list {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
.new-detail .new-relate .content .new-list--block {
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 285px;
}
.new-detail .new-relate .content .new-list--block .button-rounded {
  width: fit-content;
  background-color: #01F5B3;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.new-detail .new-relate .content .new-list--block img {
  width: 100%;
  margin-bottom: 15px;
}
.new-detail .new-relate .content .new-list--block .title-light {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-six);
}
.new-detail .new-relate .content .new-list--block .des-light {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--text-gray);
}
.new-detail .new-relate .content .text-center {
  margin: auto;
  width: fit-content;
}
.new-detail .new-relate .content .text-center .button-view-more {
  text-align: center;
}
