.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

:root {
  --white: #f0f0f0;
  --light-grey: #e4e4e4;
  --black: #111111;
  --dark-grey: #272727;
  --bg: var(--white);
  --txt: var(--black);
  --dark-opacity: 0;
  --light-opacity: 1;
}

.test .content {
  background-color: var(--bg);
  color: var(--txt);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: background 0.3s ease;
  transform: rotate(90deg);
}
.test .content .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: var(--txt);
  border-radius: 5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.5rem;
  transition: background 0.5s ease;
  cursor: pointer;
  z-index: 1;
}
.test .content .label .ball {
  position: absolute;
  background-color: var(--bg);
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  height: 2rem;
  width: 2rem;
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.5s ease;
}
.test .content .fa-galactic-republic {
  color: var(--black);
}
.test .content .fa-rebel {
  color: var(--white);
}
.test .content .checkbox:checked + .content .label .ball {
  transform: translateX(2.5rem);
}
.test .content .checkbox:checked + .content {
  --bg: var(--black);
  --txt: var(--white);
  --dark-opacity: 1;
  --light-opacity: 0;
}
.test .checkbox {
  display: none;
}
