
//    Font Family

$primary-font	: 'Unbounded', sans-serif;
$title-font     : 'Unbounded', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #ffba00;
$primary-color2	: #ff6c00;
$primary-color3	: #828bb3;
$text-color		: #777777;
$baseColor: #c5322d; 
$dip: #222222;
$pfont: #777777;
$white			: #fff;
$black			: #000;
$offwhite: #fcfcfc;
$bg-white: #D9D9D9;
$bg-dark: #191345;

$second-color: #0044FF;
$second-color-2: #01F5B3;
$color-six: #F5F5F5;
$title-color: #1E1E1E;
$logo-color: #0A008C;
$title-color-2: #1E1E1E;
$bg-footer: rgba(71, 71, 71, 0.10);
$bg-contact: rgba(245, 245, 245, 0.30);
$bg-blue-dark: rgba(0, 68, 255, 0.20);
$text-gray: #A1A1A1;

[data-theme="light"] {
  --bg-white: #fff;
  --second-color: #0044FF;
  --second-color-2: #01F5B3;
  --color-six: #1E1E1E;
  --title-color: #1E1E1E;
  --logo-color: #0A008C;
  --title-color-2: #1E1E1E;
  --bg-footer: rgba(71, 71, 71, 0.10);
  --bg-contact: rgba(245, 245, 245, 0.30);
  --bg-blue-dark: rgba(0, 68, 255, 0.20);
  --text-gray: #A1A1A1;
  --bg-btn-1: #0044FF;
  --text-color-3: #F5F5F5;
  --input-color: #F5F5F5;
  --footer-des: #1E1E1E;
  --border-color-1: #F5F5F5;
  --border-color-2: #01F5B3;
  --tab-active-1: #01F5B3;
  --title-border-1: #0044FF;
  --btn-color-2: #01F5B3;
  --btn-bar: #000;
  --text-menu: #F5F5F5;
  --star-list: #000;
  --liner-hidden: linear-gradient(180deg, rgba(255, 255, 255, 0) -16.22%, #F5F5F5 78.57%);
  --btn-nav: #999999;
}

[data-theme="dark"] {
  --bg-white: #191345;
  --second-color: transparent;
  --second-color-2: #01F5B3;
  --color-six: #F5F5F5;
  --title-color: #F5f5f5;
  --logo-color: #0A008C;
  --title-color-2: #F5F5F5;
  --bg-footer: rgba(71, 71, 71, 0.10);
  --bg-contact: rgba(255, 255, 255, 0.10);
  --bg-blue-dark: rgba(0, 68, 255, 0.20);
  --text-gray: #F5f5f5;
  --bg-btn-1: #01F5B3;
  --text-color-3: #1E1E1E;
  --input-color: #F5F5F5;
  --footer-des: #8a8a8a;
  --border-color-1: #4747471A;
  --border-color-2: #F5F5F5;
  --tab-active-1: #F5F5F5;
  --title-border-1: #01F5B3;
  --btn-color-2: #0044FF;
  --btn-bar: #FFF;
  --text-menu: #F5F5F5;
  --star-list: #F5f5f5;
  --liner-hidden: linear-gradient(180deg, rgba(47, 41, 94, 0) -16.22%, #2F2957 78.57%);
  --btn-nav: #f5f5f5;
}


/*--------------------------- Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');





