//header
#header {
  .nav-bar {
    display: inline-flex;
    padding: 20px 0;
    align-items: center;
    //gap: 237px;
    width: 100%;
    justify-content: space-between;

    .logo-img {
      //width: 126.667px;
      //height: 20px;
      z-index: 9999;
    }

    .menu-box {
      //width: 836px;
      height: 47px;
      display: block;
      z-index: 9999;

      .menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        .menu-item {
          position: relative;

          .menu-link {
            color: var(--title-color-2);
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            .drop-down-icon svg{
              cursor: pointer;
            }
          }

          .search-icon {
            i {
              font-size: 18px;
              font-weight: 300;
              color: var(--title-color);
            }
            svg{
              width: 20px;
              height: 20px;
              flex-shrink: 0;
              cursor: pointer;
            }
          }

          .menu-item-child {
            z-index: 15;
            width: 184px;
            height: 143px;
            flex-shrink: 0;
            border-radius: 15px;

            background: rgba(30, 30, 30, 0.85);
            backdrop-filter: blur(6px);
            position: absolute;
            padding: 23px;
            display: none;

            .child-item a {
              color: var(--text-menu);
              font-size: 14px;
              font-style: normal;
              font-weight: 300;

              line-height: normal;
              display: block;
              margin-bottom: 22px;
              text-align: left;

              &:hover {
                color: var(--second-color-2);
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: -12px;
              width: 100%;

              height: 20px;
              background: transparent;
              left: 0;
              cursor: pointer;
            }
          }

          &:hover .menu-item-child {
            display: block;
            opacity: 1;
            transition: opacity 0.3s ease;
          }
        }

        @media (min-width: 1200px) {
          .position-md-relative {
            position: relative;

            .menu-item-child {
              position: absolute;
              top: calc(100% + 10px);
            }
          }
        }

        .contact-button button{
          color: $white;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;

    .nav-bar {
      padding: 20px;
      position: relative;

      .logo-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .navbar-toggler {
        padding: 0;
        color: var(--btn-bar);
      }
      .navbar-toggler:focus {
        box-shadow: none;
      }

      .menu-mobile {
        padding: 25px 15px 25px;
        position: absolute;
        top: 99%;
        background: var(--bg-white);

        width: 100%;
        left: 0;
        right: 0;
        z-index: 999;

        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        transform: translateY(-20px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

        .menu-mobile-item {
          padding: 10px 0;

          .menu-mobile-link {
            text-transform: uppercase;
            padding: 0px;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            color: var(--title-color-2);
          }

          &:hover {
            color: #01F5B3;
          }

          input[type="text"] {
            width: calc(100% - 40px);
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
          }

          button[type="submit"] {
            width: 40px;
            padding: 10px;
            border: none;
            background: #ccc;
            border-radius: 0 5px 5px 0;
            cursor: pointer;

            &:hover {
              background: #ddd;
            }

            i {
              font-size: 16px;
              color: #1E1E1E;
            }
          }
        }
      }

      .menu-mobile.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #header {
    padding: 0 10px;
    text-align: center;
  }

  #header .nav-bar {
    display: inline-flex;
    padding: 20px 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 996px;
    gap: unset;
    margin: 0 auto;

    .menu-box .menu-list {
      gap: 20px;
    }

    .position-md-relative {
      .menu-item-child {
        position: absolute;
        top: calc(100% + 10px);
      }
    }
  }
}
