@import "variables";

.new-detail {
  position: relative;
  z-index: 10;
  padding-top: 0;
  .container {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: var(--bg-contact-2);
    backdrop-filter: blur(15px);
    height: fit-content;
    padding: 20px;
    margin-bottom: 30px;
    .head {
      position: relative;
      z-index: 10;
      min-height: 200px;
      margin-bottom: 15px;
      .title {
        margin-bottom: 15px;
        &--top {
          img {
            height: 45px;
            margin-right: 10px;
          }
          .button {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            padding: 10px 20px !important;
          }
        }
      }

      h2 {
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--color-six);
      }
    }

    .container-cal {
      margin-bottom: 40px;
      display: flex;
      gap: 30px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .block {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }
    p {
      color: var(--text-gray);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    .container-des {
      .img-main {
        img {
          width: 100%;
        }
      }

      .img-sub {
        width: 100%;
        display: flex;
        gap: 20px;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
        img {
          flex: 1;
        }
      }
    }
  }

  .block-tag {
    padding-left: 20px;
    width: 100%;
    margin-bottom: 100px;
    height: fit-content;
    border-bottom: 1px solid var(--btn-bar);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    > p {
      color: var(--title-color-2);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      a {
        color: var(--input-color);
        padding: 10px 20px;
        justify-content: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 50px;
        background: #5C579D;
      }
    }
  }

  .new-relate {
    padding-left: 20px;
    margin-bottom: 100px;
    h2 {
      color: var(--color-six);
    }

    .content {
      .new-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
        @media screen and (max-width: 768px) {
          text-align: center;
          grid-template-columns: repeat(2, 1fr);
        }
        &--block {
          display: flex;
          gap: 15px;
          flex-direction: column;
          max-width: 285px;
          .button-rounded {
            width: fit-content;
            background-color: $second-color-2;
            color: $black;
            border: none;
            padding: 10px 20px;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
          img {
            width: 100%;
            margin-bottom: 15px;
          }
          .title-light {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--title-color-2);
          }
          .des-light {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: var(--title-color-2);
          }
        }
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}
